body{
    margin:0;
    padding:0;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    color:rgb(0, 0, 0);
}

#container{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

#clockContainer {
    
}

button{
    font-size: 1.1em;
    border-radius: 20px;
    padding: 0px;
    height: 40px;
    width: 40px;
}