body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#bgVideo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.7;
    pointer-events: none;
}

#container, #button, #settings {
    position: relative;
    z-index: 1;
}

#clockContainer, #dateContainer, #dateDayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Share Tech Mono, monospace;
    font-size: 100px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);

}

#button button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    opacity: 0.3;
}

#button button:hover {
    opacity: 1;
}

#container {
    width: 100%;
}

#settings {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

#settings div {
    margin-bottom: 10px;
}

#settings > div > button {
    margin-left: 10px;
    cursor: pointer;
}

#ampm {
    margin-left: 10px;
}

#credits {
    position: relative;
    margin-top: 20px;
    text-align: center;
}